<!DOCTYPE html>
<html lang="en">
    <head>
        <title>글쓰기 페이지</title>
    </head>
    <body>
        <h1>글쓰기 페이지</h1>
        <form method="POST">
            {% csrf_token %}
            제목<br>
            <input type="text" name="postname"><br>
            내용<br>
            <textarea rows="10" cols="50" name="contents"></textarea><br>

            {% comment %} 수정 {% endcomment %}
            <a href="{% url 'blog' %}"><input type="submit" value="글쓰기"></a>
            
        </form>
    </body>
</html>